spring:
  application:
    name: musicapi

  datasource:
    password: ${DB_PASSWORD}
    username: ${DB_USERNAME}
    url: ${DB_URL}
    driver-class-name: org.postgresql.Driver

  flyway:
    locations: classpath:db/migration
    enabled: true

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true